body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
    
}

body,
header,
main,
footer {
    border: 1px solid red;
}



.menu {
    background-color: #1F2937;
    display: flex;
    margin: 0;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
}

.hero {
    margin: 0;
    padding: 0;
    background-color: #1F2937;
}