body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: stretch;
    /* justify-content: center; */
    box-sizing: border-box;
    
}

body,
header,
main,
footer {
    border: 1px solid red;
}



.menu {
    background-color: #1F2937;
    display: flex;
    margin: 0;
    padding: 0 150px;
    align-items: center;
    justify-content: space-between;
}

.hero {
    margin: 0;
    padding: 0 150px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.info {
    text-align: center;
    padding: 0 150px;
}

.boxes {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.info-image {
    height: 140px;
    width: 140px;
}

.info p {
    width: 130px;
    margin: 0 20px;
}

.quote {
    background-color: #E5E7EB;
}