body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: stretch;
    /* justify-content: center; */
    box-sizing: border-box;
    
}

body,
header,
main,
footer {
    border: 1px solid red;
}



.menu {
    background-color: #1F2937;
    display: flex;
    margin: 0;
    padding: 0 150px;
    align-items: center;
    justify-content: space-between;
}

.hero {
    margin: 0;
    padding: 0 150px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.info {
    text-align: center;
    padding: 0 150px;
}

.boxes {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.info-image {
    height: 140px;
    width: 140px;
}

.info p {
    width: 130px;
    margin: 0 20px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.q {
    padding: 100px 150px;
    max-width: 800px;
}

.Thor {
    text-align: end;
    margin-right: 50px;
}

blockquote {
    margin: 0;
    padding: 0;
}

.CTA {
    padding: 70px 120px;
    display: flex;
    justify-content: center;
}

.CTA-blue {
    background-color: #3882F6;
    display: flex;
    flex: 1;
    padding: 10px 30px;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
}

.CTA-text h3 {
    margin-bottom: 0;
}

.CTA-text p {
    margin-top: 0;
}

button {
    width: 90px;
}

footer {
    background-color: #1F2937;
    text-align: center;
    padding: 10px 0;
}